@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500&display=swap');

* {
    box-sizing: border-box;
}

#root {
    font-family: 'Oxanium', cursive;
    height: 100vh; 
    overflow: hidden; 
    display: block; 
    margin: 0; 
    padding: 0;
}

body {
    background-image: url("/space.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5F4B8B;
}

@media only screen and (hover: none) and (pointer: coarse){

    body {
        background-size: 100vw 100vh;
    }
}

h2 {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

h3 {
    margin: 0;
    color: rgb(70, 70, 70);
    text-align: center;
}